* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-3 {
  margin: 0 auto;
  width: 75%;
  text-align: center;
  border: 5px solid black;
}

.flex-box-container-3 {
  display: flex;
  border: 2px solid black;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flex-box-container-3 img {
  border: 2px solid black;
  height: 20vh;
  width: 20vw;
  margin: 10px;
}

.flex-box-container-3 img:hover {
  box-shadow: 0 10px 20px rgba(59, 111, 110, 0.6);
}
